body{
	margin:0;
}


#header{
	position:fixed;
	z-index:9999;
	width:100%;
	box-sizing:border-box;
	transition:All 0.2s ease;
	-webkit-transition:All 0.2s ease;
	-moz-transition:All 0.2s ease;
	-o-transition:All 0.2s ease;
	background-color:#282625;
}

#inner1{
	width:100%;
	margin-top:10px;
}
#menu{
	width:1060px;
	margin:auto;
}
#menu>a{
	float:left;

}
#menu>a>img{
	width:135px;
	height:29px;
	margin-right:330px;

}
#menu>ul{
	text-align:right;
}
#menu>ul>li{
	display:inline-block;
	margin-right:10px;
}
#menu>ul>li>a{
	color:white;
	text-decoration:none;
	text-align:center;
	margin-right:10px;
	font-size:13px;
}
#inner2{
	both:clear;
	width:100%;
	height:71px;
	background-color:white;
	border-bottom:0.3px solid;
}
#menu2{
	width:1060px;
	margin:auto;
	
}
#menu2>ul{
	text-align:center;
}
#menu2>ul>li{
		margin-left:90.2px;
	
	margin-top:15px;
	display:inline-block;
}
#menu2>ul>li>a{
	color:black;
	text-decoration:none;
	text-align:center;
	font-size:20px;
    font-weight: 700;
}
#content{
	width:100%;
}
#content_ad{
	width:100%;
	margin:0 auto;
	overflow:hidden;
	
}
#weather-pos{
	width:320px;
	float:right;
}
.limg{
	width:255px;
	height:170px;
}
#mainrow1{
	width:1050px;
	margin:auto;
}
#mainrow1>p{
 	border-bottom: 1px solid #c0c0c0;
	
}
#mainrow2{
	width:1050px;
	margin:auto;
}
#mainrow2>p{
}
#mainrow3{
	width:1050px;
	margin:auto;
	margin-top:300px;
	
}
#mainrow3>p{
}
#mainrow4{
	width:1050px;
	margin:auto;
}
#mainrow4>p{
}
#mainrow5{
	width:1050px;
	margin:auto;
}
#mainrow5>p{
 	border-bottom: 1px solid #c0c0c0;
}
#mainrow6{
	width:1050px;
	margin:auto;
}
#mainrow6>p{
 	border-bottom: 1px solid #c0c0c0;
}
#index1>ul{
	width:1200px;
	margin-left:-50px;
}
#index1>ul>li{
    display: inline-block;
    width: 255px;
    height: 270px;
    margin-left: 10px;
    vertical-align: top;
    list-style:none;
    margin-bottom:50px;
}
.additem .gname{
	display: block;
    overflow: hidden;
    padding: 3px 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(221,221,221);
    color: black;
    font-size: 11px;
    line-height: 13px;
    text-indent: 5px;
    background-color: rgb(248,248,248);
    font-weight: bold;
}
.additem .gname_pre{
	display: block;
    overflow: hidden;
    padding: 3px 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(221,221,221);
    color: black;
    font-size: 11px;
    line-height: 13px;
    text-indent: 5px;
    background-color: rgb(248,248,248);
}
.additem .account{
	display: block;
    overflow: hidden;
    padding: 3px 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(221,221,221);
    color: black;
    font-size: 11px;
    line-height: 13px;
    text-indent: 5px;
    background-color: rgb(248,248,248);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221,221,221);
    font-weight: normal;
}

#footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;
	
}
#footer2{
	clear:both;
	height:60px;
	
}
#quick{
	overflow: hidden;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}
#center{
	width:1200px;
	margin:0 auto;
}
#center_name{
    float: left;
    padding: 25px 0;
    width:293px;
    height:36px;
    color: #000;
    font-family: 'verdana';
    font-size: 11px;
    font-weight: bold;
    text-align:right;
}
#center_name>dl>dt{
	float:left;
}
#center_name>dl>dd{
	float:right;
}

#board{
	color: #696969;
    font-size: 11px;
    line-height: 1.4;
	float:left;
	width: 426px;
	height:117.8px;
    margin: 0 29px 0 51px;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}
#board>ul>li{
	margin-top:20px;
	margin-left:40px;
	display:inline-block;
}
#return{
	padding-top:20px;
	color: #696969;
    font-size: 11px;
    line-height: 1.4;
}

.menu{
	display: block;
    padding: 40px 0 40px;
    text-align: center;
    font-size: 11px;
}
.menu>li{
	display: inline-block;
    color: #d1d1d1;
    list-style-type:none;
}
.menu>li>a{
	text-decoration:none;
	padding: 0 20px;
	color: #929292;
	
}

.info{
	    clear: both;
    font-size: 15px;
}
.info>p{
	color: #929292;
    font-size: 11px;
    text-align: left;
    line-height: 1.4;
}

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);




.weather-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather-card {
  margin: 0px 5px 12px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 130px;
  height: 130px;
  background-color: white;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  -webkit-animation: appear 500ms ease-out forwards;
          animation: appear 500ms ease-out forwards;
}
.weather-card h4 {
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #B8B8B8;
  bottom: 20px;
  left: 35px;
  opacity: 0;
  -webkit-transform: translateX(150px);
      -ms-transform: translateX(150px);
          transform: translateX(150px);
  -webkit-animation: title-appear 500ms ease-out 500ms forwards;
          animation: title-appear 500ms ease-out 500ms forwards;
}
.weather-card p {
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #d2d2d2;
  bottom: 0;
  left: 35px;
  -webkit-animation: title-appear 1s ease-out 500ms forwards;
          animation: title-appear 1s ease-out 500ms forwards;
}

.weather-icon {
  position: relative;
  width: 30px;
  height: 30px;
  top: 0;
  float: right;
  margin: 20px 20px 0 0;
  -webkit-animation: weather-icon-move 5s ease-in-out infinite;
          animation: weather-icon-move 5s ease-in-out infinite;
}

.sun {
  background: #FFCD41;
  border-radius: 50%;
  box-shadow: rgba(255, 255, 0, 0.1) 0 0 0 4px;
  -webkit-animation: light 800ms ease-in-out infinite alternate, weather-icon-move 5s ease-in-out infinite;
          animation: light 800ms ease-in-out infinite alternate, weather-icon-move 5s ease-in-out infinite;
}

@-webkit-keyframes light {
  from {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 10px;
  }
  to {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 17px;
  }
}

@keyframes light {
  from {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 10px;
  }
  to {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 17px;
  }
}
.cloud {
  margin-right: 40px;
  background: #e1e1e1;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  box-shadow: #e1e1e1 24px -6px 0 2px, #e1e1e1 10px 5px 0 5px, #e1e1e1 30px 5px 0 2px, #e1e1e1 11px -8px 0 -3px, #e1e1e1 25px 11px 0 -1px;
}
.cloud:after {
  content: "";
  position: absolute;
  border-radius: 10px;
  background-color: transparent;
  width: 4px;
  height: 12px;
  left: 0;
  top: 31px;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation: rain 800ms ease-in-out infinite alternate;
          animation: rain 800ms ease-in-out infinite alternate;
}

@-webkit-keyframes rain {
  from {
    box-shadow: #2092A9 8px 0px, #2092A9 32px -6px, #2092A9 20px 0px;
  }
  to {
    box-shadow: #2092A9 8px 6px, #2092A9 32px 0px, #2092A9 20px 6px;
  }
}

@keyframes rain {
  from {
    box-shadow: #2092A9 8px 0px, #2092A9 32px -6px, #2092A9 20px 0px;
  }
  to {
    box-shadow: #2092A9 8px 6px, #2092A9 32px 0px, #2092A9 20px 6px;
  }
}
@-webkit-keyframes weather-icon-move {
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}
@keyframes weather-icon-move {
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}
.inspiration {
  color: #aeaeae;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}
.inspiration a {
  color: #FA565F;
  font-weight: 400;
  -webkit-animation: all 300ms ease-in-out;
          animation: all 300ms ease-in-out;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes title-appear {
  from {
    opacity: 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes title-appear {
  from {
    opacity: 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}