<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bit.mappers.EditorMapper">

	<select id="read" resultType="com.bit.domain.EditorVO">
		select
		bno,title,content,writer,regdate,viewcnt,theme
		from
		TBL_EDITOR
		where
		bno=#{bno}
	</select>

	<update id="update">
		update TBL_EDITOR
		set viewcnt = viewcnt+1
		where
		bno=#{bno}
	</update>


	<select id="listAll" resultType="com.bit.domain.EditorVO">
		<![CDATA[
			select 
			bno,title,content,writer,regdate,viewcnt,theme 
			from 
			TBL_EDITOR 
			where bno>0
			order by bno desc,regdate desc
		]]>
	</select>

	<select id="listPage" resultType="com.bit.domain.EditorVO">
		<![CDATA[
		select * from TBL_EDITOR 
		where bno > 0
		order by bno desc, regdate desc
		limit #{page},10
		]]>
	</select>

	<select id="listCriteria" resultType="com.bit.domain.EditorVO">
		<![CDATA[
		select * from TBL_EDITOR 
		where bno >0  and state=#{state}
		order by bno desc, regdate desc
		limit #{cri.pageStart},#{cri.perPageNum}
		]]>
	</select>

	<select id="listCriteriaFamily"
		resultType="com.bit.domain.EditorVO">
		<![CDATA[
		select * from TBL_EDITOR 
		where theme=1 and  state=#{state}
		order by bno desc, regdate desc
		limit #{cri.pageStart},#{cri.perPageNum}
		]]>
	</select>
	<select id="listCriteriaCouple"
		resultType="com.bit.domain.EditorVO">
		<![CDATA[
		select * from TBL_EDITOR 
		where theme=2 and  state=#{state}
		order by bno desc, regdate desc
		limit #{cri.pageStart},#{cri.perPageNum}
		]]>
	</select>
	<select id="listCriteriaEdu"
		resultType="com.bit.domain.EditorVO">
		<![CDATA[
		select * from TBL_EDITOR 
		where theme=3 and state=#{state}
		order by bno desc, regdate desc
		limit #{cri.pageStart},#{cri.perPageNum}
		]]>
	</select>
	<select id="listCriteriaReligion"
		resultType="com.bit.domain.EditorVO">
		<![CDATA[
		select * from TBL_EDITOR 
		where theme=4 and  state=#{state}
		order by bno desc, regdate desc
		limit #{cri.pageStart},#{cri.perPageNum}
		]]>
	</select>


	<select id="countPaging" resultType="int">
	<![CDATA[
		select count(bno) from TBL_EDITOR
		where bno>0  and state=#{state}
	]]>
	</select>

	<select id="countPagingFamily" resultType="int">
		<![CDATA[
			select count(bno) from TBL_EDITOR
			where theme=1 and  state=#{state}
		]]>
	</select>
	<select id="countPagingCouple" resultType="int">
		<![CDATA[
			select count(bno) from TBL_EDITOR
			where theme=2 and  state=#{state}
		]]>
	</select>
	<select id="countPagingEdu" resultType="int">
		<![CDATA[
			select count(bno) from TBL_EDITOR
			where theme=3 and  state=#{state}
		]]>
	</select>
	<select id = "countPagingReligion" resultType="int">
		<![CDATA[
			select count(bno) from TBL_EDITOR
			where theme=4 and  state=#{state}
		]]>
	</select>

</mapper>