<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bit.mapper.MemberMapper">

<!-- 서지혜 -->
<select id="login" resultType="int">
select count(*) from MEMBER where user_id =#{id} and user_pw = #{pw}
</select>

<select id="login_email_Check" resultType="int">
select count(*) from MEMBER where user_id=#{id} and email_check='1'
</select>

<select id="find_id" resultType="String">
	select user_id from MEMBER where email=#{email} and user_name=#{name}
</select>

<select id="find_pw" resultType="String">
	select user_pw from MEMBER where user_name=#{name} and user_id=#{id} and email=#{email} and phone=#{phone} 
</select>
<!-- 서지혜 -->

<insert id="insertMember">
insert into MEMBER(user_name,user_id,user_pw,email,phone)
values (#{user_name},#{user_id},#{user_pw},#{email},#{phone})
</insert>

<select id="checkId" resultType="java.lang.Integer">
select count(*) from MEMBER where user_id=#{id}
</select>

<select id="emailCheck" resultType="java.lang.Integer">
select count(*) from MEMBER where email=#{email}
</select>

<update id="emailAuth" parameterType="java.util.HashMap">
<![CDATA[
update MEMBER set email_check=#{auth} where email=#{email}
]]>
</update>

<!-- 회원 정보 select 쿼리문  by 도형-->
<select id="selectMember" resultType="com.bit.domain.MemberVO">
<![CDATA[
select * from MEMBER where user_id=#{user_id}
]]>
</select>

<!-- 회원 정보 update 쿼리문 by 도형 -->
<update id="updateMember">
<![CDATA[
update MEMBER set user_name=#{user_name}, user_pw=#{user_pw}, phone=#{phone} where user_id=#{user_id}
]]>
</update>

<!-- 내 댓글 select 쿼리문 by 도형 -->
<select id="selectReplyMember" resultType="com.bit.domain.ReplyVO">
<![CDATA[
select HISTORIC_SITE.bno, HISTORIC_SITE.site_name, HISTORIC_SITE_REPLY.reply_text, HISTORIC_SITE_REPLY.update_date from HISTORIC_SITE_REPLY, HISTORIC_SITE where HISTORIC_SITE.bno=HISTORIC_SITE_REPLY.bno and HISTORIC_SITE_REPLY.replyer=#{user_id}
]]>
</select>
<!-- limit #{cri.pageStart}, #{cri.perPageNum} -->

<!-- 안 쓰는 코드 -->
<select id="countReplyMember" resultType="int">
<![CDATA[
select count(rno) from HISTORIC_SITE_REPLY where replyer=#{user_id}
]]>
</select>

<!-- 찜 목록 select 쿼리문 by 도형 -->
<select id="selectSiteMember" resultType="com.bit.domain.MemberSiteVO">
<![CDATA[
select * from MEMBER_SITE where user_id=#{user_id}
]]>
</select>

<!-- 찜 아이템 delete 쿼리문 by 도형 -->
<delete id="deleteSiteMember">
delete from MEMBER_SITE where jno=#{jno}
</delete>

<!-- 찜 아이템 중복체크 쿼리문 by 도형 -->
<select id="checkSiteMember" resultType="int">
select count(*) from MEMBER_SITE where bno=#{bno} and user_id=${user_id}
</select>

<!-- 찜 아이템 insert 쿼리문 by 도형 -->
<insert id="insertSiteMember">
INSERT INTO MEMBER_SITE (
	USER_ID, BNO, FIRST_IMAGE, SITE_NAME, ADDRESS, PERIOD, THEMA
) VALUES (
	${user_id}, 
	${bno}, 
	(SELECT HISTORIC_SITE.FIRST_IMAGE FROM HISTORIC_SITE WHERE HISTORIC_SITE.BNO=${bno}), 
	(SELECT HISTORIC_SITE.SITE_NAME FROM HISTORIC_SITE WHERE HISTORIC_SITE.BNO=${bno}), 
	(SELECT HISTORIC_SITE.ADDRESS FROM HISTORIC_SITE WHERE HISTORIC_SITE.BNO=${bno}), 
	(SELECT HISTORIC_SITE.PERIOD FROM HISTORIC_SITE WHERE HISTORIC_SITE.BNO=${bno}), 
	(SELECT HISTORIC_SITE.THEMA FROM HISTORIC_SITE WHERE HISTORIC_SITE.BNO=${bno})
);
</insert>

</mapper>
